.nav-bar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background: linear-gradient(to bottom, var(--color-one), var(--color-two));

    color: var(--color-three);
}

.menu-button{
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--color-three);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5px;
  transition: var(--trandition);
}
.menu-button:hover{
  border-bottom: var(--white);
}
.menu-button span{
    width: 100%;
    height: 2px;
    background-color: var(--color-three);
      transition: var(--trandition);

}

.menu-button:hover span{
background-color: var(--white);
}

.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-one);
  height: calc(100vh - 60px);
  width: 75%;
  transform: translateX(-101%);
  transition: 0.3s;
  visibility: hidden;
  font-size: 22px;
}

.nav-list-visible {
    transform: translateX(0);
  visibility: visible;
}

@media (min-width: 767px) {
    .nav-bar{
            padding:0 20px  ;
    }
}

@media (min-width: 992px) {
    .nav-bar{
            padding:0 40px  ;
             /* flex-direction: row;
             position: relative; */
    }

    .menu-button {
      opacity: 0;
      display: none;
    }

    .nav-list {
      visibility: visible;
      transform: translateX(0);
      position: static;
      height: fit-content;
      width: fit-content;
      flex-direction: row;
      background-color: transparent;
    }
}