

:root {
  --white: #ffffff;
  --black: #171717;
  --color-one: #233142;
  --color-two: #455d7a;
  --color-three: #e3e3e3;
  --red: #f95959;
  --trandition:300ms;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}
.main {
  overflow-y: auto;
  transform: translateY(60px);
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}
.main-sec{
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  background-color: var(--color-three);
  min-height: calc(100vh - 60px);

}
button {
  cursor: pointer;
  min-width: 50px;
  background-color: #eee;
  padding: 8px 15px ;
  border: 1px solid #171717;
}